{% extends 'base.html.twig' %}

{% block title %}Modifier mon mot de passe - african Food {% endblock %}

{% block content %}
    <h1>Modifier mon mot de passe</h1>
    <hr>
    <a href="{{ path('account') }}">Retourner à mon compte</a> <br/>

    <hr>
    {% if notification %}
        <div class="alert-info">{{ notification }}</div>
    {% endif %}
        {{ form_start(form) }}
            <div class="col-md-12 mb-3">{{ form_row(form.email) }}</div>
            <div class="col-md-12 mb-3">{{ form_row(form.firstname) }}</div>
            <div class="col-md-12 mb-3">{{ form_row(form.lastname) }}</div>
            <div class="col-md-12 mb-3">{{ form_row(form.old_password) }}</div>
            <div class="col-md-12 mb-3">{{ form_row(form.new_password) }}</div>
        {{ form_end(form) }}
    {% endblock %}