{% extends 'base.html.twig' %}

{% block title %}Valider ma commande - African Food{% endblock %}

{% block content %}
    <h2>Mon Récapitulatif commande</h2>
    <p>Vérifiez vos informations avant de payer votre commande.</p>
    <hr>
    <div class="row">
        <div class="col-md-6">
          Mon addresse de livraison <br>
          Mon Transporteur
        </div>
        <div class="col-md-6">
            <div class="text-center">
                <b>Récap de a commande</b><br>
                <p>Retrouvez le récapitulatif de vos produits.</p>
            </div>
            <div class="order-summary">
                {% for key, product in cart %}
                    <div class="row {% if key > 0 %} mt-2 {% endif %}">
                        <div class="col-3">
                            <img src="/africanFood/public/uploads/{{ product.product.illustration }}" height="75px"alt="{{ product.product.name  }}">
                        </div>
                        <div class="col-7 my-auto">
                            {{ product.product.name }} <br>
                            <small>{{ product.product.subtitle  }}</small>
                        </div>
                        <div class="col-2">
                            x {{ product.quatity }}
                        </div>
                    </div>
                {% endfor %}
            </div>
            <a href="" class="btn btn-success col-12 mt-3 m-4">Payer</a>
        </div>
    </div>

{% endblock %}
